.container {
  display: flex; /* or inline-flex */
}

.container {
  flex-direction: row;
}

.container {
  flex-wrap: nowrap;
}

.item-a {
  grid-column-start: 2;
  grid-column-end: five;
  grid-row-start: row1-start;
  grid-row-end: 3;
}
